Holodeck/builds
Holodeck/Library/PackageCache/
Holodeck/builds/.vs/Holodeck/v17/Browse.VC.db
Holodeck/App/Holodeck/Data/sharedassets0.assets
Holodeck/.vs/Holodeck/v17/Browse.VC.db
Holodeck/builds/build/bin/ARM64/Release/GameAssembly.pdb
Holodeck/builds/.vs/Holodeck/v17/Browse.VC.db
Holodeck/Library/PlayerDataCache/WindowsStoreApps/Data/sharedassets0.assets
Holodeck/Packages/com.ptc.vuforia.engine-10.10.2.tgz 
Holodeck/Temp